<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <add key="operatorName" value="3012"/>
    <add key="operatorPassword" value="liuning1"/>
    <add key="tradeServerIp" value="192.168.41.144"/>
    <add key="tradeServerPort" value="9003"/>
    <add key="refHttpServiceIp" value="192.168.41.50"/>
    <add key="refHttpServicePort" value="8080"/>
    <add key="kLineHttpServiceIp" value="192.168.41.62"/>
    <add key="kLineHttpServicePort" value="8080"/>
    <add key="subscribeServerIp" value="192.168.41.144"/>
    <add key="subscribeServerPort" value="9009"/>

    <add key="isMulticastPrice" value="True"/>
    <add key="licenceFile" value="license.dat"/>
    <add key="multicastConfigFile" value=".\\MarketDataConfig.ini"/>
  </appSettings></configuration>
